Repository facelessuser/pyspelling, pull requests merged in 2023-09, with the labels that each got.

#177 Update pipeline.md
  docs/src/markdown/pipeline.md
Labels: C: docs, S: approved

#178 Support PY311 and PY312, drop PY37, and update dev environment
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .pyspelling.yml
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/about/contributing.md
  docs/src/markdown/about/development.md
  docs/src/markdown/api.md
  docs/src/markdown/configuration.md
  docs/src/markdown/filters/html.md
  docs/src/markdown/filters/python.md
  docs/src/markdown/filters/xml.md
  docs/src/markdown/flow_control/wildcard.md
  docs/src/markdown/index.md
  docs/src/markdown/pipeline.md
  hatch_build.py
  pyproject.toml
  pyspelling/__init__.py
  pyspelling/__meta__.py
  pyspelling/filters/html.py
  pyspelling/filters/markdown.py
  pyspelling/filters/odf.py
  pyspelling/filters/python.py
  pyspelling/filters/stylesheets.py
  requirements/flake8.txt
  requirements/lint.txt
  requirements/project.txt
  tests/filters/test_python.py
  tests/util.py
  tox.ini
Labels: C: docs, S: approved, C: plugins, C: infrastructure, C: tests, C: source, C: html-filter, C: markdown-filter, C: odf-filter, C: python-filter, C: stylesheets-filter

#181 Fix typos discovered by codespell
  pyspelling/__init__.py
  pyspelling/__main__.py
Labels: S: approved, C: source

#180 Upgrade GitHub Actions
  .github/workflows/build.yml
Labels: S: approved, C: infrastructure
